<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hacking with Spring Boot - Getting Started</title>
</head>
<body>
  <h1>
    Welcome to Hacking with Spring Boot!
  </h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis dolore expedita facere facilis incidunt laborum libero maxime, provident reiciendis sed suscipit tenetur totam vitae. Aperiam autem iure odio quis. Blanditiis corporis cupiditate, earum est fuga id illo iure, libero molestias obcaecati optio porro possimus quas repellat tempora tempore, tenetur! Asperiores nisi provident veritatis voluptas! Animi aperiam cum deleniti distinctio dolor ea eos error eum eveniet exercitationem fugit id illo ipsam iure iusto labore laboriosam maxime natus nihil non odit omnis, perspiciatis possimus quam qui quisquam totam. Accusantium beatae earum eos explicabo quam quidem quis quos repellendus sit veniam.
  </p>
</body>
</html>